.form {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #9bc7eb;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}

.formContainer legend {
    color: #3375b6;
    margin-left: 10%;
}

.inputContainer {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
}

.patientId {
  width: 90%;
  border-radius: 15px;
  border: 2px solid #089d12;;
  padding-left: 15px;
  font-size: 1rem;
}

#nhis {
    align-items: center;
    justify-content:flex-start;
    padding-left: 16px;
    font-weight: bold;
    color: #3375b6;
}

.checkbox{
    /* Remove default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #9bc7eb;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    margin-left: 12px;
  }
  
  /* Add checkmark using ::after pseudo-element */
  .checkbox:checked::after {
    content: '✔';
    position: absolute;
    top: -17px; /* Adjust as necessary */
    left: -1px; /* Adjust as necessary */
    font-size: 30px; /* Adjust size as necessary */
    color: #089d12;
    
    
  }

  .submit {
    border: none;
    background-color: #089d12;
    color: white;
    width: 90%;
    height: 20%;
    border-radius: 15px;
  }

  .submit:hover {
    background-color: #077a0f;
  }

  .submit:active {
    background-color: #06660d;
  }
  
